<div class="main-content p-3">
    <h3 class="mb-4 text">Student Dashboard</h3>

    <!-- Profile Section and Quick Links -->
    <div class="row">
      <div class="col-md-4">
        <div class="profile-card">
          <img src="assets\img\student.png" alt="Student" />
          <div>
            <h5>Aaradhya Sharma</h5>
            <p>Class: III, C<br />Roll No: 36545</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">Quick Links</h5>
            <div class="row quick-links">
              <div class="row ms-0 px-0">
                <div class="col-md-6">
                  <button class="btn  btn-block texxt" id="quickbuttons"><img class="quick1"
                      src="assets\img\material-symbols_feed-outline.svg">Quick Link 1</button>
                </div>
                <div class="col-md-6">
                  <button class="btn  btn-block texxt" id="quickbuttons"><img class="quick2"
                      src="assets\img\material-symbols_feed-outline.svg">Quick Link 2</button>
                </div>
                <div class="col-md-6">
                  <button class="btn  btn-block texxt" id="quickbuttons"><img class="quick3"
                      src="assets\img\material-symbols_feed-outline.svg">Quick Link 3</button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-block texxt" id="quickbuttons"><img class="quick4"
                      src="assets\img\material-symbols_feed-outline.svg">Quick Link 4</button>
                </div>
                <div class="col-md-6">
                  <button class="btn  btn-block texxt" id="quickbuttons"><img class="quick3"
                      src="assets\img\material-symbols_feed-outline.svg">Quick Link 3</button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-block texxt" id="quickbuttons"><img class="quick4"
                      src="assets\img\material-symbols_feed-outline.svg">Quick Link 4</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Homework and Notice Board -->
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="header d-flex justify-content-between align-items-center mb-2">
                  <h5 class="card-title">Home Works</h5>
                  <img src="assets\img\angle-left.svg" class="mb-1">
                  <p class="last-date-value mb-2">16 May 2024</p>
                  <img src="assets\img\angle-right.svg" class="mb-2">
                </div>

                <!-- <img src="assets\img\angle-left.svg">
                <p></p> -->
                <div class="homework-list d-flex flex-column gap-2">
                  <div class="homework-item d-flex align-items-center gap-3">
                    <div class="subject-box d-flex justify-content-center align-items-center text-center  physics">Physics</div>
                    <div class="details">
                      <div class="author">By : Sarvepalli Radhakrishnan</div>
                      <div class="task">Write theory of pendulum</div>
                      <div class="due-date">Due by : 16 Jun 2024</div>
                    </div>
                  </div>
                  <div class="homework-item d-flex align-items-center gap-3">
                    <div class="subject-box d-flex justify-content-center align-items-center text-center chemistry">Chemistry</div>
                    <div class="details">
                      <div class="author">By : Sarvepalli Radhakrishnan</div>
                      <div class="task">Change of Elements</div>
                      <div class="due-date">Due by : 16 Jun 2024</div>
                    </div>
                  </div>
                  <!-- English -->
                  <div class="homework-item d-flex align-items-center gap-3">
                    <div class="subject-box d-flex justify-content-center align-items-center text-center english">English</div>
                    <div class="details">
                      <div class="author">By : Sarvepalli Radhakrishnan</div>
                      <div class="task">Vocabulary Introduction</div>
                      <div class="due-date">Due by : 16 Jun 2024</div>
                    </div>
                  </div>
                  <!-- Math -->
                  <div class="homework-item d-flex align-items-center gap-3">
                    <div class="subject-box d-flex justify-content-center align-items-center text-center math">Math</div>
                    <div class="details">
                      <div class="author">By : Sarvepalli Radhakrishnan</div>
                      <div class="task">Problems to Solve Page 22</div>
                      <div class="due-date">Due by : 16 Jun 2024</div>
                    </div>
                  </div>
                  <!-- Hindi -->
                  <div class="homework-item d-flex align-items-center gap-3">
                    <div class="subject-box d-flex justify-content-center align-items-center text-center hindi">Hindi</div>
                    <div class="details">
                      <div class="author">By : Sarvepalli Radhakrishnan</div>
                      <div class="task">Problems to Solve Page 22</div>
                      <div class="due-date">Due by : 16 Jun 2024</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="header d-flex justify-content-between align-items-center">
                  <h5 class="card-title mb-3">Notice Board</h5>
                  <img src="assets\img\Frame 1597883679.svg" class="mb-3">
                </div>
                <div class="notice d-flex justify-content-between align-items-center mb-2">
                  <div class="event">
                    <div class="date-box d-flex justify-content-center align-items-center blue">
                      <div class="datee">11 <br>Mar</div>
                    </div>
                    <div class="event-details ms-2">
                      <div class="event-title">Class Group Photo</div>
                      <div class="event-added">
                        <img src="assets\img\calendar.svg">
                        <div class="added-date">Added on : 11 Mar 2024</div>
                      </div>
                    </div>
                  </div>
                  <img src="assets\img\angle-right.svg">
                </div>
                <div class="notice d-flex justify-content-between align-items-center mb-2">
                  <div class="event">
                    <div class="date-box d-flex justify-content-center align-items-center green">
                      <div class="date">16 <br>Apr</div>
                    </div>
                    <div class="event-details ms-2">
                      <div class="event-title">World Environment Day</div>
                      <div class="event-added">
                        <img src="assets\img\calendar.svg">
                        <div class="added-date">Added on : 16 Apr 2024</div>
                      </div>
                    </div>
                  </div>
                  <img src="assets\img\angle-right.svg">
                </div>
                <div class="notice d-flex justify-content-between align-items-center mb-2">
                  <div class="event">
                    <div class="date-box d-flex justify-content-center align-items-center orange">
                      <div class="date">21 <br>May</div>
                    </div>
                    <div class="event-details ms-2">
                      <div class="event-title">Exam Preparation Notification</div>
                      <div class="event-added">
                        <img src="assets\img\calendar.svg">
                        <div class="added-date">Added on : 21 May 2024</div>
                      </div>
                    </div>
                  </div>
                  <img src="assets\img\angle-right.svg">
                </div>

                <div class="notice d-flex justify-content-between align-items-center mb-2">
                  <div class="event">
                    <div class="date-box d-flex justify-content-center align-items-center light-blue">
                      <div class="date">23 <br>May</div>
                    </div>
                    <div class="event-details ms-2">
                      <div class="event-title">Online Classes Preparation</div>
                      <div class="event-added">
                        <img src="assets\img\calendar.svg">
                        <div class="added-date">Added on : 23 May 2024</div>
                      </div>
                    </div>
                  </div>
                  <img src="assets\img\angle-right.svg">
                </div>

                <div class="notice d-flex justify-content-between align-items-center mb-2">
                  <div class="event">
                    <div class="date-box d-flex justify-content-center align-items-center yellow">
                      <div class="date">03 <br>Jun</div>
                    </div>
                    <div class="event-details ms-2">
                      <div class="event-title">Exam Time Table Release</div>
                      <div class="event-added">
                        <img src="assets\img\calendar.svg">
                        <div class="added-date">Added on : 03 Jun 2024</div>
                      </div>
                    </div>
                  </div>
                  <img src="assets\img\angle-right.svg">
                </div>

                <div class="notice d-flex justify-content-between align-items-center mb-2">
                  <div class="event">
                    <div class="date-box d-flex justify-content-center align-items-center orange">
                      <div class="date">11 <br>Jul</div>
                    </div>
                    <div class="event-details ms-2">
                      <div class="event-title">English Exam Preparation</div>
                      <div class="event-added">
                        <img src="assets\img\calendar.svg">
                        <div class="added-date">Added on : 11 Jul 2024</div>
                      </div>
                    </div>
                  </div>
                  <img src="assets\img\angle-right.svg">
                </div>
                <!-- <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>11 Mar:</strong> Class Group Photo</li>
                  <li class="list-group-item"><strong>16 Apr:</strong> World Environment Day Program</li>
                  <li class="list-group-item"><strong>21 May:</strong> Exam Preparation Notification</li>
                  <li class="list-group-item"><strong>23 May:</strong> Online Classes Preparation</li>
                  <li class="list-group-item"><strong>03 Jun:</strong> Exam Time Table Release</li>
                  <li class="list-group-item"><strong>11 Jul:</strong> English Exam Preparation</li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Schedules Section-->
    <div class="row mt-4">
      <!-- Column with 8 width -->
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="header">
              <h5 class="card-title">Schedules</h5>
            </div>

            <div class="row">
              <!-- First half of Column 8 -->
              <div class="col-md-6">
                <div class="calendar-header">
                  <button class="btn btn-light btn-sm">
                    <i class="bi bi-chevron-left"></i>
                  </button>
                  <span>February 2024</span>
                  <button class="btn btn-light btn-sm">
                    <i class="bi bi-chevron-right"></i>
                  </button>
                </div>

                <!-- Calendar Days -->
                <ul class="calendar-days">
                  <li>M</li>
                  <li>T</li>
                  <li>W</li>
                  <li>T</li>
                  <li>F</li>
                  <li>S</li>
                  <li>S</li>
                </ul>

                <!-- Calendar Dates -->
                <ul class="calendar-dates">
                  <!-- <li class="disabled">29</li>
                  <li class="disabled">30</li>
                  <li class="disabled">31</li> -->
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>10</li>
                  <li>11</li>
                  <li>12</li>
                  <li>13</li>
                  <li>14</li>
                  <li>15</li>
                  <li>16</li>
                  <li class="active-date">17</li>
                  <li>18</li>
                  <li>19</li>
                  <li>20</li>
                  <li>21</li>
                  <li>22</li>
                  <li>23</li>
                  <li>24</li>
                  <li>25</li>
                  <li>26</li>
                  <li>27</li>
                  <li>28</li>
                </ul>
              </div>

              <!-- Second half of Column 8 -->
              <div class="col-md-6 p-0">
                <div class="exam-section">
                  <div class="section-title">Exams</div>
                  <div class="exam-list">
                    <!-- Mathematics Exam -->
                    <div class="exam-card">
                      <div class="exam-details">
                        <div class="exam-header">
                          <div class="exam-name">Mathematics</div>
                          <div class="exam-status">
                            <img src="assets/img/mingcute_time-line.svg">
                            <div class="status-text">19 Days More</div>
                          </div>
                        </div>
                        <div class="exam-meta">
                          <div class="exam-time">
                            <img src="assets/img/mingcute_time-line1.svg">
                            <div class="time-text">01:30 - 02:15 PM</div>
                          </div>
                          <div class="exam-date">
                            <img src="assets/img/stash_data-date.svg">
                            <div class="date-text">06 Mar 2024</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- English Exam -->
                    <div class="exam-card">
                      <div class="exam-details">
                        <div class="exam-header">
                          <div class="exam-name">English</div>
                          <div class="exam-status">
                            <img src="assets/img/mingcute_time-line.svg">
                            <div class="status-text">21 Days More</div>
                          </div>
                        </div>
                        <div class="exam-meta">
                          <div class="exam-time">
                            <img src="assets/img/mingcute_time-line1.svg">
                            <div class="time-text">01:30 - 02:15 PM</div>
                          </div>
                          <div class="exam-date">
                            <img src="assets/img/stash_data-date.svg">
                            <div class="date-text">06 Mar 2024</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Physics Exam -->
                    <div class="exam-card">
                      <div class="exam-details">
                        <div class="exam-header">
                          <div class="exam-name">Physics</div>
                          <div class="exam-status">
                            <img src="assets/img/mingcute_time-line.svg">
                            <div class="status-text">24 Days More</div>
                          </div>
                        </div>
                        <div class="exam-meta">
                          <div class="exam-time">
                            <img src="assets/img/mingcute_time-line1.svg">
                            <div class="time-text">01:30 - 02:15 PM</div>
                          </div>
                          <div class="exam-date">
                            <img src="assets/img/stash_data-date.svg">
                            <div class="date-text">06 Mar 2024</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Column with 4 width -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body p-0">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/img/Birthday-bg.png" class="d-block w-100" alt="First Slide" style="height: 298px;">
                  <div class="carousel-caption d-none d-md-block">
                    <img src="assets/img/path68.svg" alt="Icon">
                    <h6 class="mt-2">Happy Birthday</h6>
                    <p>Kapil Sharma</p>
                    <button type="button" class="btn btn-outline-light">Send Wishes</button>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/img/Birthday-bg.png" class="d-block w-100" alt="Second Slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h6>Happy Birthday</h6>
                    <p>Ravi Sharma</p>
                    <button type="button" class="btn btn-outline-light">Send Wishes</button>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/img/Birthday-bg.png" class="d-block w-100" alt="Third Slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h6>Happy Birthday</h6>
                    <p>Puskal Pandey</p>
                    <button type="button" class="btn btn-outline-light">Send Wishes</button>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          
          </div>
        </div>
      </div>
    </div>

    <!-- third row -->
    <div class="row mt-4">
      <!-- Homework and Notice Board -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="header d-flex justify-content-between align-items-center">
              <h5 class="card-title">Fee Reminder</h5>
              <img src="assets\img\Frame 1597883679.svg" class="mb-2">
            </div>

            <div class="fee-item">
              <div class="icon-container">
                <div class="icon bluee">
                  <img src="assets\img\ion_bus-outline.svg">
                </div>
              </div>
              <div class="fee-description">
                <div class="fee-name">Transport Fees</div>
                <div class="fee-amount">
                  <div class="dot"></div>
                  <div class="amount">2500</div>
                </div>
              </div>
              <div class="last-date">
                <div class="last-date-label">Last Date</div>
                <div class="last-date-value">25 May 2024</div>
              </div>
            </div>
            <div class="fee-item">
              <div class="icon-container">
                <div class="icon greeen">
                  <img src="assets\img\mingcute_book-5-line.svg">
                </div>
              </div>
              <div class="fee-description">
                <div class="fee-name">Book Fees</div>
                <div class="fee-amount">
                  <div class="dot"></div>
                  <div class="amount">2500</div>
                </div>
              </div>
              <div class="last-date">
                <div class="last-date-label">Last Date</div>
                <div class="last-date-value">25 May 2024</div>
              </div>
            </div>

            <div class="fee-item">
              <div class="icon-container">
                <div class="icon orangee">
                  <img src="assets\img\quill_paper.svg">
                </div>
              </div>
              <div class="fee-description">
                <div class="fee-name">Exam Fees</div>
                <div class="fee-amount">
                  <div class="dot"></div>
                  <div class="amount">2500</div>
                </div>
              </div>
              <div class="last-date">
                <div class="last-date-label">Last Date</div>
                <div class="last-date-value">25 May 2024</div>
              </div>
            </div>
            <div class="fee-item">
              <div class="icon-container">
                <div class="icon bllue">
                  <img src="assets\img\ph_bowl-food.svg">
                </div>
              </div>
              <div class="fee-description">
                <div class="fee-name">Mess Fees</div>
                <div class="fee-amount">
                  <div class="dot"></div>
                  <div class="amount">2500</div>
                </div>
              </div>
              <div class="last-date">
                <div class="last-date-label">Last Date</div>
                <div class="last-date-value">25 May 2024</div>
              </div>
            </div>
            <div class="fee-item">
              <div class="icon-container">
                <div class="icon yeellow">
                  <img src="assets\img\carbon_hotel.svg">
                </div>
              </div>
              <div class="fee-description">
                <div class="fee-name">Hostel</div>
                <div class="fee-amount">
                  <div class="dot"></div>
                  <div class="amount">2500</div>
                </div>
              </div>
              <div class="last-date">
                <div class="last-date-label">Last Date</div>
                <div class="last-date-value">25 May 2024</div>
              </div>
            </div>
            <div class="fee-item">
              <div class="icon-container">
                <div class="icon orangee">
                  <img src="assets\img\material-symbols-light_local-library-outline.svg">
                </div>
              </div>
              <div class="fee-description">
                <div class="fee-name">Library Fee</div>
                <div class="fee-amount">
                  <div class="dot"></div>
                  <div class="amount">2500</div>
                </div>
              </div>
              <div class="last-date">
                <div class="last-date-label">Last Date</div>
                <div class="last-date-value">25 May 2024</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="header d-flex justify-content-between align-items-center">

              <h5 class="card-title mb-3">Attendance</h5>

              <img src="assets\img\calendar.svg" class="mb-3">
              <p>This Week</p>
              <img src="assets\img\uil_angle-down.svg" class="mb-3">
            </div>

            <div class="atte-working-days">
              <div class="atte-working-days-text">
                <span> <img src="assets\img\calendar.svg"> No of total working days</span>

                <span class="atte-working-days-count"> 28 Days</span>
                <div class="card mt-3">
                  <div class="atte-summary-row">
                    <div class="atte-summary-item">
                      <div class="atte-summary-label">Present</div>
                      <div class="atte-summary-value">25</div>
                    </div>
                    <div class="atte-divider-vertical"></div>
                    <div class="atte-summary-item">
                      <div class="atte-summary-label">Absent</div>
                      <div class="atte-summary-value">8</div>
                    </div>
                    <div class="atte-divider-vertical"></div>
                    <div class="atte-summary-item">
                      <div class="atte-summary-label">Halfday</div>
                      <div class="atte-summary-value">4</div>
                    </div>
                  </div>
                </div>
                <!-- <canvas id="attendanceChart" width="200" height="200"></canvas> -->
                <div class="card mt-3">
                  <div class="atte-summary-row">
                    <div class="atte-summary-title">Last 7 Days</div>
                    <div class="atte-summary-date">14 May 2024 - 21 May 2024</div>
                  </div>
                  <div class="atte-days-text atte-days">
                    <div class="atte-day">
                      <div class="atte-day-text ">M</div>
                    </div>
                    <div class="atte-day">
                      <div class="atte-day-text">T</div>
                    </div>
                    <div class="atte-day">
                      <div class="atte-day-text">W</div>
                    </div>
                    <div class="atte-day">
                      <div class="atte-day-text">T</div>
                    </div>
                    <div class="atte-day">
                      <div class="atte-day-text">F</div>
                    </div>
                    <div class="atte-day">
                      <div class="atte-day-text">S</div>
                    </div>
                    <div class="atte-day">
                      <div class="atte-day-text">S</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="header d-flex justify-content-between align-items-center">
              <h5 class="card-title mb-3">Assignments</h5>
              <img src="assets\img\Frame 1597883679.svg" class="mb-3">
            </div>
           
            <div class="notice d-flex justify-content-between align-items-center mb-3 noti">
              <div class="event">
                <div class="date-box d-flex justify-content-center align-items-center blue">
                  <img src="assets\img\tabler_file-type-zip.svg">
                </div>
                <div class="event-details ms-2">
                  <div class="event-title">Math Sums Solution</div>
                  <div class="event-added">
                    <img src="assets\img\calendar.svg">
                    <div class="added-date">Added on : 11 Mar 2024</div>
                  </div>
                </div>
              </div>
              <img src="assets\img\material-symbols_download-rounded.svg">
            </div>
            <div class="notice d-flex justify-content-between align-items-center mb-3 noti">
              <div class="event">
                <div class="date-box d-flex justify-content-center align-items-center green">
                  <img src="assets\img\tabler_file-type-doc.svg">
                </div>
                <div class="event-details ms-2">
                  <div class="event-title">Research technology impact</div>
                  <div class="event-added">
                    <img src="assets\img\calendar.svg">
                    <div class="added-date">Added on : 11 Mar 2024</div>
                  </div>
                </div>
              </div>
              <img src="assets\img\material-symbols_download-rounded.svg">
            </div>
            <div class="notice d-flex justify-content-between align-items-center mb-3 noti">
              <div class="event">
                <div class="date-box d-flex justify-content-center align-items-center orange">
                  <img src="assets\img\prime_file-pdf.svg">
                </div>
                <div class="event-details ms-2">
                  <div class="event-title">Create energy presentation</div>
                  <div class="event-added">
                    <img src="assets\img\calendar.svg">
                    <div class="added-date">Added on : 11 Mar 2024</div>
                  </div>
                </div>
              </div>
              <img src="assets\img\material-symbols_download-rounded.svg">
            </div>

            <div class="notice d-flex justify-content-between align-items-center mb-3 noti">
              <div class="event">
                <div class="date-box d-flex justify-content-center align-items-center yellow">
                  <img src="assets\img\prime1_file-pdf.svg">
                </div>
                <div class="event-details ms-2">
                  <div class="event-title">Solve math puzzles</div>
                  <div class="event-added">
                    <img src="assets\img\calendar.svg">
                    <div class="added-date">Added on : 11 Mar 2024</div>
                  </div>
                </div>
              </div>
              <img src="assets\img\material-symbols_download-rounded.svg">
            </div>
            <div class="notice d-flex justify-content-between align-items-center mb-3 noti">
              <div class="event">
                <div class="date-box d-flex justify-content-center align-items-center orange">
                  <img src="assets\img\tabler1_file-type-doc.svg">
                </div>
                <div class="event-details ms-2">
                  <div class="event-title">Prepare history timeline</div>
                  <div class="event-added">
                    <img src="assets\img\calendar.svg">
                    <div class="added-date">Added on : 11 Mar 2024</div>
                  </div>
                </div>
              </div>
              <img src="assets\img\material-symbols_download-rounded.svg">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--row 4-->
    <div class="row mt-4">
      <!-- Homework and Notice Board -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="header d-flex justify-content-between align-items-center">
              <h5 class="card-title">Class Faculties</h5>
              <div class="fac-arrow d-flex justify-content-between align-items-center">
              <img src="assets\img\flowbite_angle-left-outline.svg" class="mb-3">
              <img src="assets\img\flowbite_angle-right-outline.svg" class="mb-3">
            </div>
            </div>
            <div class="fac-faculty-list">
              <div class="fac-card">
                <div class="fac-card-content">
                  <div class="fac-profile">
                    <img class="fac-avatar" src="assets\img\image 45.png" alt="Avatar">
                    <div class="fac-info">
                      <div class="fac-name">Ramesh</div>
                      <div class="fac-subject">Chemistry</div>
                    </div>
                  </div>
                  <div class="fac-contact">
                    <div class="fac-phone">
                      <img src="assets\img\solar_phone-linear.svg">
                      <div class="fac-phone-number">9999112523</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="fac-card">
                <div class="fac-card-content">
                  <div class="fac-profile">
                    <img class="fac-avatar" src="assets\img\student.png" alt="Avatar">
                    <div class="fac-info">
                      <div class="fac-name">Aaradhya </div>
                      <div class="fac-subject">Physics</div>
                    </div>
                  </div>
                  <div class="fac-contact">
                    <div class="fac-phone">
                      <img src="assets\img\solar_phone-linear.svg">
                      <div class="fac-phone-number">9999112523</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fac-card">
                <div class="fac-card-content">
                  <div class="fac-profile">
                    <img class="fac-avatar" src="assets\img\istockphoto-508956644-612x612.png" alt="Avatar">
                    <div class="fac-info">
                      <div class="fac-name">Shubhi</div>
                      <div class="fac-subject">English</div>
                    </div>
                  </div>
                  <div class="fac-contact">
                    <div class="fac-phone">
                      <img src="assets\img\solar_phone-linear.svg">
                      <div class="fac-phone-number">9999112523</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fac-card">
                <div class="fac-card-content">
                  <div class="fac-profile">
                    <img class="fac-avatar" src="assets\img\premium_photo-1689530775582-83b8abdb5020 1.png"
                      alt="Avatar">
                    <div class="fac-info">
                      <div class="fac-name">Rishi</div>
                      <div class="fac-subject">Math</div>
                    </div>
                  </div>
                  <div class="fac-contact">
                    <div class="fac-phone">
                      <img src="assets\img\solar_phone-linear.svg">
                      <div class="fac-phone-number">9999112523</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>