/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
 .btntext{
  background: #F5F6F9;;
 }
 .dropdown-item{
  color: var(--2a295c, #2A295C);
font-size: 13px;
font-weight: 500;
  display: flex;
height: 33px;
padding: 0px 10px;
align-items: center;
gap: 15px;
align-self: stretch;
border-radius: 4px;
}
.year {
  color: rgba(42, 41, 92, 0.6);
  text-align: center;
  font-size: 14px;

  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.homework-item {
  margin-bottom: 3px;
  /* display: flex;
    align-items: center;
    gap: 11px; */
}

/* .homework-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  } */
/* .divider {
    width: 100%;
    height: 1px;
    background: #e7e9f7;
    margin: 16px 0;
    margin: 0;
  } */
.subject-box {
  width: 72px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
}

.physics {
  background: rgba(40, 56, 151, 0.15);
  padding: 16px;
  color: #283897;
}

.chemistry {
  background: rgba(52, 168, 102, 0.15);
  padding: 16px;
  color: #34a866;
}

.english {
  background: rgba(239, 102, 26, 0.15);
  color: #ef661a;
  padding: 16px;
}

.math {
  background: rgba(25, 156, 218, 0.15);
  color: #199cda;
  padding: 16px;
}

.hindi {
  background: rgba(252, 189, 76, 0.15);
  color: #fcbd4c;
  padding: 16px;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.author {
  color: #2a295c;
  opacity: 0.7;
  font-size: 13px;
  font-weight: 500;
}

.task {
  color: #2a295c;
  font-size: 14px;
  font-weight: 500;
}

.due-date {
  color: #2a295c;
  opacity: 0.7;
  font-size: 10px;
  font-weight: 400;
}

/* .date-section {
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  } */

.date {
  color: #2a295c;
  opacity: 0.7;
  font-size: 13px;
  font-weight: 500;
}

/* 
  .notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  } */

.noti {
  margin-bottom: 21px;
}

.event {
  display: flex;
  gap: 4px;
}

.date-box {
  width: 50px;
  padding: 4px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  border-radius: 4px;
}

.date-box .datee {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 14px;
}

.date-box.blue {
  background: rgba(40, 56, 151, 0.15);
  color: #283897;
}

.date-box.green {
  background: rgba(52, 168, 102, 0.15);
  color: #34a866;
}

.date-box.orange {
  background: rgba(239, 102, 26, 0.15);
  color: #ef661a;
}

.date-box.light-blue {
  background: rgba(25, 156, 218, 0.15);
  color: #199cda;
}

.date-box.yellow {
  background: rgba(252, 189, 76, 0.15);
  color: #fcbd4c;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.event-title {
  font-size: 14px;
  font-weight: 500;
  color: #2a295c;
}

.event-added {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 12px;
  color: #2a295c;
  opacity: 0.7;
}

.added-date {
  color: var(--Color-Secondory, #2a295c);
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
}

.content {
  width: 734px;
  position: absolute;
  top: 64px;
  left: 16px;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
}

.vertical-divider {
  flex: 1 1 0;
  height: 0;
  width: 250px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  border: 1px #e7e9f7 solid;
}

/* .exam-section {
  width: 346px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
} */

.section-title {
  /* align-self: stretch; */
  color: #2a295c;
  font-size: 15px;
  font-weight: 600;
}

/* .exam-list {
  align-self: stretch;
  height: 209px;
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.exam-card {
  /* align-self: stretch;
  width: 326px;
  height: 63px; */
  padding: 8px 12px;
  background: white;
  border-radius: 4px;
  border: 1px #e7e9f7 solid;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px; */
}

/* .exam-details {
  align-self: stretch;
  height: 47px;
  display: flex;
  flex-direction: column;
  gap: 4px;
} */

.exam-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exam-name {
  color: #2a295c;
  font-size: 14px;
  font-weight: 500;
}

.exam-status {
  padding: 6px 8px;
  background: rgba(218, 32, 32, 0.15);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 3px;
}

.status-icon {
  width: 12px;
  height: 12px;
  background: #da2020;
  border-radius: 50%;
}

.status-text {
  color: #da2020;
  font-size: 11px;
  font-weight: 500;
}

.exam-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exam-time,
.exam-date {
  display: flex;
  align-items: center;
  gap: 6px;
}

.time-text,
.date-text {
  color: #2a295c;
  opacity: 0.7;
  font-size: 12px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-days,
.calendar-dates {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  
}

.calendar-days li {
  font-weight: bold;
  color: #6c757d;
}

.calendar-dates li {
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.calendar-dates li:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.calendar-dates .active-date {
  background-color: #3f51b5;
  color: white;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-dates li.sunday {
  color: #dc3545;
}

.calendar-dates li.disabled {
  color: #ddd;
}

.fee-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  width: 100%;
}

.icon-container {
  display: flex;
  gap: 8px;
}

.icon {
  width: 42px;
  height: 42px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.bluee {
  border-radius: 4px;
  background: rgba(40, 56, 151, 0.15);
}
.greeen {
  border-radius: 4px;
  background: rgba(52, 168, 102, 0.15);
}
.orangee {
  border-radius: 4px;
  background: rgba(239, 102, 26, 0.15);
}
.bllue {
  border-radius: 4px;
  background: rgba(25, 156, 218, 0.15);
}
.yeellow {
  border-radius: 4px;
  background: rgba(252, 189, 76, 0.15);
}
.fee-description {
  width: 131px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}

.fee-name {
  color: #2a295c;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.fee-amount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.amount {
  color: rgba(42, 41, 92, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.last-date {
  width: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 2px;
}

.last-date-label {
  text-align: right;
  color: #2a295c;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.last-date-value {
  opacity: 0.7;
  text-align: right;
  color: #2a295c;
  font-size: 12px;
  font-weight: 400;
  word-wrap: break-word;
}

.atte-working-days-text {
  color: rgba(42, 41, 92, 0.6);

  font-size: 14px;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.atte-working-days-count {
  color: #2a295c;
}
.week {
  color: rgba(42, 41, 92, 0.6);
 font-size: 14px;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.atte-summary {
  height: 92px;
  padding: 12px;
  left: 16px;
  top: 390px;
  position: absolute;
  background: #f8fafc;
  border-radius: 4px;
  overflow: hidden;
  border: 1px #e0e0e0 solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.atte-summary-header {
  align-self: stretch;
  height: 68px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
  display: flex;
}

.atte-summary-row {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  padding: 8px 16px;
}

.atte-summary-title {
  text-align: center;
  color: #2a295c;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.atte-summary-date {
  text-align: center;
  color: rgba(42, 41, 92, 0.6);
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.atte-days {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.atte-day {
  width: 30px;
  height: 30px;
  background: #34a866;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.atte-days-text {
  padding: 0px 14px 12px 14px;
}
.atte-day-text {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

/* .atte-summary-footer {
    height: 72px;
    padding: 8px 16px;
    left: 16px;
    top: 98px;
    position: absolute;
    background: white;
    border-radius: 4px;
    border: 1px #E0E0E0 solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
  } */

.atte-summary-item {
  width: 60px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}

.atte-summary-label {
  text-align: center;
  color: rgba(42, 41, 92, 0.6);
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.atte-summary-value {
  text-align: center;
  color: #2a295c;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.fac-faculty-list {
  left: 16px;
  top: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.fac-card {
  flex: 1 1 0;
  padding: 12px 20px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  border: 1px #e7e9f7 solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.fac-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.fac-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.fac-avatar {
  width: 52px;
  height: 52px;
  border-radius: 4px;
  background: linear-gradient(0deg, #939393 0%, #939393 100%);
}

.fac-info {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.fac-name {
  color: #2a295c;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.fac-subject {
  opacity: 0.7;
  color: #2a295c;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.fac-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
}

.fac-phone {
  flex: 1 1 0;
  height: 33px;
  padding: 1px 6px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  border: 1px #e0e0e0 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  a {
    text-decoration: none;
  }
}

.fac-phone-number {
  color: #2a295c;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}


/* .fac-arrow{
    display: flex;
width: 27px;
height: 27px;
padding: 2.793px;
align-items: center;
gap: 9.31px;
border-radius: 13.5px;
border: 0.931px solid #E0E0E0;
background: var(--Color-Very-Light-Blue, #F9FAFF);
  } */

  