/* .navbar{
  border-bottom: 1px solid rgba(0, 42, 100, 0.20);
background: #FFF;
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
}
   */

   .header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .header img {
    height: 40px;
  }
  .year{
    color: rgba(42, 41, 92, 0.60);
text-align: center;
font-size: 14px;

font-weight: 500;
line-height: 24px; /* 171.429% */
  }


  .toggle-btn {
    font-size: 18px;
    cursor: pointer;
    color: #2a295c;

}

.toggle-btn:hover {
    /* background-color: #2A295C; */
}

@media (max-width: 768px) {
    .toggle-btn {
        display: block;
    }

    .sidebar {
        position: fixed;
        left: -242px;
        transition: left 0.3s ease;
    }

    .sidebar.active {
        left: 0;
    }
}

.cstm_link {
  .nav-link {
    color: var(--2a295c, #2a295c);
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
  }
  .active {
    color: #2a295c;
    background: #e7e9f7;
  } 
}