<div class="main-content p-3">
    <div class="header d-flex justify-content-between align-items-center">
        <h3 class="mb-4 text">Payment Receipt</h3>
        <button type="button" id="print-button" class="btn">Print <img src="assets\img\Time-table\material-symbols-light_print-outline.svg" alt=""> </button>
    </div>
    <h5 class="fee-receipt px-3 mt-3 mb-0">Registration Fee Receipt</h5>
    <div class="card my-4 bg-white mx-3 p-3">
        <div class="text-center">
            <img src="assets/img/bg_band13b1-11 1.png" alt="School Logo" class="mb-3">
            <p class="mb-1">Delhi Public School R. K. Puram, RK Puram New Delhi 110022</p>
            <p class="mb-1">Phone No: +91 011 49117700 +91-11-49116600</p>
            <p>Email Id: principaldpsrkp.net</p>
            <h5 class="text-decoration-underline">Registration Fees Receipt</h5>
        </div>

        <div class="d-flex justify-content-between align-items-center mb-3">
            <p class="mb-0">Receipt No. MR/2024-25/1</p>
            <p class="mb-0">Date: 22-11-2024</p>
        </div>

        <div class="row g-4">
            <div class="col-md-3 text-end">
                <img src="assets\img\Candidate\new\user1.png" alt="Student Photo" class="img-fluid rounded">
            </div>
            <div class="col-md-9">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Student Name</th>
                            <td>Ashish Sharma</td>
                        </tr>
                        <tr>
                            <th>Registration No</th>
                            <td>3018 54686 7894</td>
                        </tr>
                        <tr>
                            <th>Class</th>
                            <td>NURSERY</td>
                        </tr>
                        <tr>
                            <th>Transaction Id</th>
                            <td>65684688954</td>
                        </tr>
                        <tr>
                            <th>Registration Fees Amount</th>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th>Total Fees Paid</th>
                            <td>50</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-center">
            <p class="text-danger fw-bold">Registration Fee is Non - Refundable</p>
            <p>This is an electronically generated receipt and does not require any signature.</p>
        </div>
        </div>
        <h5 class="fee-receipt px-3 mt-3 mb-0">Admission Fee Receipt</h5>
        <div class="card my-4 bg-white mx-3 p-3">
            <div class="text-center">
                <img src="assets/img/bg_band13b1-11 1.png" alt="School Logo" class="mb-3">
                <p class="mb-1">Delhi Public School R. K. Puram, RK Puram New Delhi 110022</p>
                <p class="mb-1">Phone No: +91 011 49117700 +91-11-49116600</p>
                <p>Email Id: principaldpsrkp.net</p>
                <h5 class="text-decoration-underline">Admission Fees Receipt</h5>
            </div>
    
            <div class="d-flex justify-content-between align-items-center mb-3">
                <p class="mb-0">Receipt No. MR/2024-25/1</p>
                <p class="mb-0">Date: 22-11-2024</p>
            </div>
    
            <div class="row g-4">
                <div class="col-md-3 text-end">
                    <img src="assets\img\Candidate\new\user1.png" alt="Student Photo" class="img-fluid rounded">
                </div>
                <div class="col-md-9">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Student Name</th>
                                <td>Ashish Sharma</td>
                            </tr>
                            <tr>
                                <th>Admission No</th>
                                <td>3018 54686 7894</td>
                            </tr>
                            <tr>
                                <th>Class</th>
                                <td>NURSERY</td>
                            </tr>
                            <tr>
                                <th>Transaction Id</th>
                                <td>65684688954</td>
                            </tr>
                            <tr>
                                <th>Admission Fees Amount</th>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th>Total Fees Paid</th>
                                <td>50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="text-center">
                <p class="text-danger fw-bold">Admission Fee is Non - Refundable</p>
                <p>This is an electronically generated receipt and does not require any signature.</p>
            </div>
            </div>
</div>