<div class=" sidebar bg-white border-end">
    <ul class="nav flex-column">
      <li class="nav-item">
        <P class="menu mb-0">MENU</P>
        <a href="#" class="nav-link active"><img src="assets\img\Candidate\mynaui_home.svg" class="me-2" alt="">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><img src="assets\img\Candidate\noti.svg" class="me-2" alt="">Notice Board</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><img src="assets\img\Candidate\prime_question.svg" class="me-2" alt="">Query</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><img src="assets\img\Candidate\clarity_form-line.svg" class="me-2" alt="">View Form</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Payment</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><img src="assets\img\Candidate\hugeicons_credit-card.svg" alt="" class="me-2">Result</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Admission</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><img src="assets\img\Candidate\logout.svg" class="me-2" alt="">Logout</a>
      </li>
    </ul>
  </div>