<div class=" sidebar bg-white border-end">
    <ul class="nav flex-column">
      <li class="nav-item">
        <P class="menu mb-0">MENU</P>
        <a href="#" class="nav-link active">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">View Form</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Payment</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Result</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Admission</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>