<div class="main-content p-3">
    <h5 class=" text">Query</h5>
    <div class="row">
        <div class="col-8">
            <div class="header d-flex justify-content-between align-items-center">
              <button type="button" class="btn querry">Add Query</button>
                <div class="search-container">
                    <div class="search-content">
                        <img src="assets\img\imp-con\magnifier.svg" alt="">
                        <div class="search-text">Search</div>
                    </div>
                </div>
                <div class="dropdown">
                    <div class=" search-container mt-0 btntext " type="" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        23 Jul 2024 - 23 Aug 2024 <img src="assets\img\uil_angle-down.svg" alt="">
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item btntext" href="#">23 Jul 2024 - 23 Aug 2024</a></li>
                        <li><a class="dropdown-item btntext" href="#">23 Jul 2024 - 23 Aug 2024</a></li>
                        <li><a class="dropdown-item btntext" href="#">23 Jul 2024 - 23 Aug 2024</a></li>
                        <li><a class="dropdown-item btntext" href="#">23 Jul 2024 - 23 Aug 2024</a></li>
                        <li><a class="dropdown-item btntext" href="#">23 Jul 2024 - 23 Aug 2024</a></li>
                    </ul>
                </div>
           </div>
           <div class="query p-3 mt-3">
            <div class="header d-flex justify-content-between align-items-center">
                <p class="query-title mb-0">Transport</p>
                <p class="query-date mb-0">23 Dec 2024</p>
               
           </div>
            <!-- <div class="query-header">
              <p class="query-title mb-0">Transport</p>
              <p class="query-date mb-0">23 Dec 2024</p>
            </div> -->
            <div class="query-footer">
              <div class="query-responses">
                <p class="query-response-count mb-0">Responses</p>
                <p class="query-response-badge mb-0">4</p>
              </div>
              <div class="query-view-all">
                <p class="query-view-text mb-0">View all Responses</p>
                <img src="assets\img\query\uil_angle-down.svg" alt="">
              </div>
            </div>
            <div class="query-subcategory">
              <p class="query-subcategory-title mb-0">Sub Category</p>
              <p class="query-subcategory-content mb-0">Bus root</p>
            </div>
            <div class="query-query">
              <p class="query-query-title mb-0">Query</p>
              <p class="query-query-content pe-3 mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, justo ut tincidunt viverra, lorem nisi volutpat erat, a tincidunt augue neque non risus. Integer facilisis, velit non scelerisque sagittis, elit lacus convallis turpis, non dapibus eros nisi at odio. Sed vitae ligula vel turpis fermentum.
              </p>
            </div>
            <div class="query-attachments">
              <p class="query-attachments-title mt-3 mb-0">Attachments</p>
              <div class="query-attachment-item">
                <div class="query-attachment-info">
                  <p class="query-attachment-name mb-0">Bus root.zip</p>
                  <p class="query-attachment-size mb-0">5.2 MB</p>
                </div>
                <img src="assets\img\query\bx_download.svg" alt="">
              </div>
            </div>
          </div>

        </div>
        <div class="col-4">

        </div>
    </div>
</div>