.btntext {
    color: #2a295c;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    border-radius: 4px;
  border: 1px solid #E0E0E0;
  background: #FFF;
  }
  th {
    color: #2a295c;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    text-transform: capitalize;
  }
  .table > :not(:first-child) {
    border-top:none;
  }
  .row-head {
    background: #e7e9f7;
  }
  td {
    color: #2a295c;
    font-size: 14px;
    font-style: normal;
    background: #fff;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }
  
  .ass-sub {
    width: 61px;
    height: 29px;
    background: rgba(40, 56, 151, 0.15);
    border-radius: 4px;
    border: 1px #283897 solid;
    text-align: center;
  }
  .eco-sub{
      color: #F00;
  border-radius: 4px;
  border: 1px solid #F00;
  background: rgba(255, 0, 0, 0.15);
  width: 78px;
  height: 29px;
  text-align: center;
  }
  .geo-sub{
      color: #EF661A;
      border-radius: 4px;
      border: 1px solid #EF661A;
      background: rgba(239, 102, 26, 0.15);
      width: 86px;
      height: 29px;
      text-align: center;
  }
  .dra-sub{
      width: 69px;
      height: 29px;
      text-align: center;
      border-radius: 4px;
  border: 1px solid #FCBD4C;
  background: rgba(252, 189, 76, 0.15);
  color: #FCBD4C;
  }
  .hin-sub{
      border-radius: 4px;
  border: 1px solid #199CDA;
  background: rgba(25, 156, 218, 0.15);
  height: 29px;
  width: 49px;
  color: #199CDA;
  text-align: center;
  }
  .math-sub{
      width: 48px;
  height: 29px;
  border-radius: 4px;
  border: 1px solid #34A866;
  background: rgba(52, 168, 102, 0.15);
  color: #34A866;
  text-align: center;
  }
  .his-sub{
  color: #EF661A;
  border-radius: 4px;
  border: 1px solid #EF661A;
  background: rgba(239, 102, 26, 0.15);
  width: 61px;
  height: 29px;
  text-align: center;
  }
  
    table tr td,
    table tr th{
      border-left: none;
      border-right: none; 
  }
  table tr td:first-child,
  table tr th:first-child {
    border-left: 1px solid #DEE2E6; /* Start border */
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 1px solid #DEE2E6; /* End border */
  }
  
  .display-label {
    color: rgba(42, 41, 92, 0.8);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  
  .page-number {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #6C757D;
    border: 1px solid #DFDFDF;
    cursor: pointer;
  }
  
  .page-number.active {
    background: #283897;
    color: white;
    border-radius: 2px;
  }
  
  .arrow {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    background: white;
    cursor: pointer;
  }
  
  .arrow.left-arrow {
    transform: rotate(180deg);
  }
  
  .arrow.right-arrow {
    background: #E7E9F7;
    /* border: 1px solid #283897; */
  }
  
  .dropdown-item{
    color: var(--2a295c, #2A295C);
  font-size: 13px;
  font-weight: 400;
  }
  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .pagination-info {
    white-space: nowrap;
  }
  .page-link{
    border: 0px;
  }
  .pagination-info {
    white-space: nowrap;
  }
  .page-link{
    text-align: center;
    border: 0px;
    border-radius: 2px;
    background: #E7E9F7;
  }
  .page-item{
    width: 30px;
    height: 30px;
  }
  #page-num{
    text-decoration: none;
    color: #6C757D;
    font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  }
  /* .pagination .page-item.active a {
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 2px;
  background: var(--Primary-Blue, #283897);
  } */
  .pagination-info{
    color: var(--dark-blue-80, rgba(42, 41, 92, 0.80));
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  }
  .page-number{
    border-radius: 4px;
    width: 51px;
  height: 30px;
  }