<div class="main-content p-3">
    <div class="header d-flex justify-content-between align-items-center">
        <h5 class=" text">Time Table</h5>
        <button type="button" class="btn">Print <img src="assets\img\Time-table\material-symbols-light_print-outline.svg" alt=""> </button>
    </div>
    <div class="row mt-3">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr class="row-head">
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td>
                <!-- <div class="time-table-card">
                    <div class="time-table-subject">Subject : Math</div>
                    <div class="time-table-profile">
                      <div class="time-table-profile-image">
                        <img src="https://via.placeholder.com/70x45" alt="Profile Image" />
                      </div>
                      <div class="time-table-profile-name">Raman Singh</div>
                    </div>
                    <div class="time-table-time">
                        <img src="srcassets\img\Time-table\mingcute_time-line.svg" alt="">
                      <div class="time-table-time-text">09:00 - 09:45 AM</div>
                    </div>
                  </div> -->
                  
              </td>
              </tr>
            
            </tbody>
          </table>
        </div>
      </div>
  
</div>
