<div class="main-content p-3">
    <div class="header d-flex justify-content-between align-items-center">
        <h3 class="mb-4 text">Print Registration Form</h3>
        <button type="button" id="print-button" class="btn">Print <img src="assets\img\Time-table\material-symbols-light_print-outline.svg" alt=""> </button>
    </div>
    <div class="card my-2 bg-white mx-3 p-3">
        <div class="text-center">
            <img src="assets/img/bg_band13b1-11 1.png" alt="School Logo" class="mb-3">
            <p class="mb-1">Delhi Public School R. K. Puram, RK Puram New Delhi 110022</p>
            <p class="mb-1">Phone No: +91 011 49117700 +91-11-49116600, Email Id: principaldpsrkp.net</p>
            <p class="mt-3 mb-0">Applied for: Delhi Public School East of Kailash (Junior School of DPS RK Puram)</p>
            <p>Registration Form 2025-2026</p>
        </div>

        <table class="table table-bordered ">
            <!-- Heading Row -->
            <thead>
                <!-- <tr>
                    <th colspan="6" class="text-center">Sibling Details</th>
                </tr> -->
                <tr>
                    <th class="text-center">Student Photo</th>
                    <th class="text-center">Father Photo</th>
                    <th class="text-center">Mother Photo</th>
                </tr>
            </thead>
            <tbody>
                <!-- First Row -->
                <tr>
                    <td class="text-center"><img src="assets\img\Candidate\new\user1.png" alt=""></td>
                    <td class="text-center"><img src="assets\img\Candidate\new\user1.png" alt=""></td>
                    <td class="text-center"><img src="assets\img\Candidate\new\user1.png" alt=""></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered ">
            <!-- Heading Row -->
            <thead>
                <tr>
                    <th colspan="6" class="text-center">Student Details :- EN251010</th>
                </tr>
            </thead>
            <tbody>
                <!-- First Row -->
                <tr>
                    <th>Applicant Name</th>
                    <td>Yuvraj Singhal</td>
                    <th>Gender</th>
                    <td>M</td>
                    <th>Class</th>
                    <td>Nursery</td>
                </tr>
                <!-- Second Row -->
                <tr>
                    <th>Date Of Birth</th>
                    <td>08-06-2021</td>
                    <th>Age as On</th>
                    <td>3 years, 9 months, 23 days</td>
                    <th>Mother Tongue</th>
                    <td>Hindi</td>
                </tr>
                <!-- Third Row -->
                <tr>
                    <th>School Applied for</th>
                    <td>DPS East Of Kailash</td>
                    <th>Student Aadhar Number</th>
                    <td>926644308132</td>
                    <th>Single Parent</th>
                    <td>Not Applicable</td>
                </tr>
                <!-- Fourth Row -->
                <tr>
                    <th>School Transport Required</th>
                    <td>No</td>
                    <th>Is Twin/Triplet</th>
                    <td>Yes</td>
                    <th>Twin/Triplet Child Reg No</th>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered ">
            <!-- Heading Row -->
            <thead>
                <tr>
                    <th colspan="6" class="text-center">Family Details</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Father Details</th>
                    <th>Mother Details</th>
                    <th>Guardian Details</th>
                </tr>
            </thead>
            <tbody>
                <!-- First Row -->
                <tr>
                    <th> Name</th>
                    <td>Ankur Singhal</td>
                    <td>Kusha Singhal</td>
                    <td>Ankur Singhal</td>
                </tr>
                <!-- Second Row -->
                <tr>
                    <th>Profession</th>
                    <td>Engineer</td>
                    <td>Legal services</td>
                    <td>Engineer</td>
                </tr>
                <!-- Third Row -->
                <tr>
                    <th>Nationality</th>
                    <td>Indian</td>
                   <td>Indian</td>
                    <td>Indian</td>
                </tr>
                <!-- Fourth Row -->
                <tr>
                    <th>Mobile No</th>
                    <td>9911430642</td>
                   <td>9911430642</td>
                   <td>9911430642</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered ">
            <!-- Heading Row -->
            <thead>
                <tr>
                    <th colspan="6" class="text-center">Sibling Details</th>
                </tr>
                <tr>
                    <th>Sibling Name</th>
                    <th>Sibling Adm No</th>
                    <th>Sibling Class</th>
                </tr>
            </thead>
            <tbody>
                <!-- First Row -->
                <tr>
                    <td>Viraaj Singhal</td>
                    <td>E12692</td>
                    <td>III-EOK-D</td>
                </tr>
                <!-- Second Row -->
                <tr>
                    <td>Kusha</td>
                    <td>W1685</td>
                    <td>VII-EOK-C</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered ">
            <!-- Heading Row -->
            <thead>
                <tr>
                    <th colspan="6" class="text-center">Alumni Details</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Father Details</th>
                    <th>Mother Details</th>
                </tr>
            </thead>
            <tbody>
                <!-- First Row -->
                <tr>
                    <td>CBSE Roll No (XII)</td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- Second Row -->
                <tr>
                    <td>Class</td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr>
                    <td>Pass Out Year</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered ">
            <!-- Heading Row -->
            <thead>
                <tr>
                    <th colspan="6" class="text-center">Contact Details</th>
                </tr>
                <tr>
                    <th>Mobile No.</th>
                    <td>9911430642</td>
                    <th>Email Id</th>
                    <td>ankurgamil.com</td>
                </tr>
            </thead>
        </table>

        <table class="table table-bordered ">
            <!-- Heading Row -->
            <thead>
                <tr>
                    <th colspan="6" class="text-center">Residential Details</th>
                </tr>
            </thead>
            <tbody>
                <!-- First Row -->
                <tr>
                    <td>Residential Address</td>
                    <td>E-23,Second Floor</td>
                    <td>Permanent Address</td>
                    <td>Greater Noida-1</td>

                </tr>
                <!-- Second Row -->
                <tr>
                    <td>Locality</td>
                    <td>Greater Noida-1</td>
                    <td>Pincode</td>
                    <td>110068</td>
                    </tr>
                    <tr>
                        <td>Distance From School</td>
                        <td>01Km</td>
                        <td></td>
                        <td></td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-bordered ">
            <!-- Heading Row -->
            <thead>
                <tr>
                    <th colspan="6" class="text-center">Documents Uploaded</th>
                </tr>
            </thead>
            <tbody>
                <!-- First Row -->
                <tr>
                    <td>Student Birth Certificate</td>
                    <td>Address proof Certificate 1</td>
                    <td>Address proof Certificate 2</td>
                    <td>Father Alumni Proof</td>
                    <td>Mother Alumni</td>
                    <td>Sibling Proof</td>
                    <td>Score Card</td>

                </tr>
                <!-- Second Row -->
                <tr>
                    <td class="text-center"><a href="">Yes</a></td>
                    <td class="text-center"><a href="">Yes</a></td>
                    <td class="text-center"><a href="">Yes</a></td>
                    <td class="text-center">No</td>
                    <td class="text-center">No</td>
                    <td class="text-center"><a href="">Yes</a></td>
                    <td class="text-center">No</td>
                    </tr>
            </tbody>
        </table>
        <div class="text-center">
            <p class="fw-bold text-decoration-underline">Undertaking</p>
        </div>
        <p>I hereby declare that information given above by me is based on facts and authentic records. Admission of my child may be cancelled if any information is found to be false at any stage. I fully understand the submission of Registration Form does not in any way guarantee admission.</p>
        <p class="text-end">
            (signature)
        </p>
        </div>
       


        <div class="card my-4 bg-white mx-3 p-3">
            <div class="text-center">
                <img src="assets/img/bg_band13b1-11 1.png" alt="School Logo" class="mb-3">
                <p class="mb-1">Delhi Public School R. K. Puram, RK Puram New Delhi 110022</p>
                <p class="mb-1">Phone No: +91 011 49117700 +91-11-49116600, Email Id: principaldpsrkp.net</p>
                 <p class="mt-3 mb-0">Applied for: Delhi Public School East of Kailash (Junior School of DPS RK Puram)</p>
            <p>Registration Form 2025-2026 Fee Receipt</p>
            <p class="mt-3 mb-0">Receipt No. MR/2024-25/20</p>
            <p>Date: 2025-01-13</p>
            </div>
            <div class="col-lg-12 mb-sm-3 mb-lg-0    ">
                <div class="card mb-3">
                    <div class="card-body p-0 pb-3">
                        <div class="row align-items-center crdbody">
                            <!-- Profile Image -->
                            <div class="col-md-2 p-3 text-center user-card">
                              <img src="assets\img\Candidate\new\user1.png" alt="Profile">
                            </div>
                            <!-- User Details -->
                            <div class="col-md-10">
                              <div class="content_main d-flex gap-3">
                                  <div class="part1">
                                    <p class="mb-1"><strong>Name:</strong></p>
                                      <p class="mb-1"><strong>Class:</strong></p>
                                      <p class="mb-1"><strong>Registration No:</strong></p>
                                      <p class="mb-1"><strong>Transaction Id:</strong></p>
                                      <p class="mb-1"><strong>Registration Fee Amount:</strong></p>
                                      <p class="mb-1"><strong>Total Fee Paid:</strong></p>
                                  </div>
                                  <div class="part2">
                                      <p class="mb-1"><strong>:</strong></p>
                                      <p class="mb-1"><strong>:</strong></p>
                                      <p class="mb-1"><strong>:</strong></p>
                                      <p class="mb-1"><strong>:</strong></p>
                                      <p class="mb-1"><strong>:</strong></p>
                                      <p class="mb-1"><strong>:</strong></p>
                                  </div>
                                  <div class="part3">
                                      <p class="mb-1"> Yuvraj</p>
                                      <p class="mb-1"> 1st</p>
                                      <p class="mb-1"> EN252010</p>
                                      <p class="mb-1"> 64327823</p>
                                      <p class="mb-1"> 1000.00</p>
                                      <p class="mb-1"> 1000.00</p>
                                  </div>
                              </div>
                              
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <p class="text-danger fw-bold">Admission Fee is Non - Refundable</p>
                <p>This is an electronically generated receipt and does not require any signature.</p>
            </div>
            </div>
</div>