<div class="main-content p-3">
    <div class="header">
        <h5 class=" text">Report Card</h5>
    </div>

    <div class="row mt-3">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr class="row-head">
                        <th>EXAM NAME</th>
                        <th>EXAM TYPE</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Class Test</td>
                        <td>Formative Assessment</td>
                        <td class="view text-decoration-underline">View</td>


                    </tr>
                    <tr>
                        <td>Weekly Test</td>
                        <td>Written Exam</td>
                        <td class="view text-decoration-underline">View</td>

                    </tr>
                    <tr>
                        <td>Monthly Test</td>
                        <td>Written Exam</td>
                        <td class="view text-decoration-underline">View</td>

                    </tr>
                    <tr>
                        <td>Quarterly Test</td>
                        <td>Written Exam</td>
                        <td class="view text-decoration-underline">View</td>

                    </tr>
                    
                    <tr>
                        <td>Oral Exam</td>
                        <td>9800</td>
                        <td class="view text-decoration-underline">View</td>

                    </tr>
                    <tr>
                        <td>Viva Voce</td>
                        <td>Open-Book Exam</td>
                        <td class="view text-decoration-underline">View</td>


                    </tr>
                    <tr>
                        <td>Board Exam (e.g., CBSE, ICSE)</td>
                        <td>Practical Exam</td>
                        <td class="view text-decoration-underline">View</td>

                    <tr>
                        <td>Viva Voce</td>
                        <td>Open-Book Exam</td>
                        <td class="view text-decoration-underline">View</td>


                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>