<div class="main-content p-3">
    <h5 class=" text">Query</h5>
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="card">
            <div class="container d-flex flex-wrap align-items-center justify-content-between py-2">
                <div class="d-flex align-items-center gap-3">
                  <div class="today-box py-1 px-3">
                    <div class="today-text">Today</div>
                  </div>
                  <div class="d-flex align-items-center gap-3">
                    <div class="circle-button">
                     <img src="assets\img\event\flowbite_angle-left-outline.svg" alt="">
                    </div>
                    <div class="date-text">December, 2024</div>
                    <div class="circle-button">
                      <img src="assets\img\event\flowbite_angle-right-outline.svg" alt="">
                    </div>
                  </div>
                </div>
                <div class="month-box d-flex align-items-center gap-3 px-3">
                  <div class="month-text">Month</div>
                  <div class="dropdown-icon d-flex align-items-center">
                    <img src="assets\img\event\Chevron.svg" alt="">
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div class="col-md-4 col ">
        <div class="card p-0 pb-3">
            <div class="header mt-3 px-3 border-bottom">
                <h5 class="card-title mb-3">Upcoming Events</h5>
                  </div>
            <div class="p-3">      
         <div class="card-container shadow-sm rounded-2  border d-flex flex-column position-relative">
            <div class="side-bar  position-absolute"></div>
            <div class="event-info d-flex align-items-center position-absolute">
              <div class="icon-box d-flex justify-content-center align-items-center rounded">
                <img src="assets\img\event\tabler_christmas-tree.svg" alt="">
              </div>
              <div class="event-text d-flex flex-column">
                <div class="event-title fw-semibold">Christmas Day</div>
                <div class="event-time text-muted small">09:30 - 11:30</div>
              </div>
            </div>
            <div class="event-date   fw-medium">
              24 December 2024
            </div>
          </div>
        </div>
        <div class="px-3 mb-3">      
            <div class="card-container shadow-sm rounded-2  border d-flex flex-column position-relative">
               <div class="side-bar  position-absolute"></div>
               <div class="event-info  d-flex align-items-center position-absolute">
                 <div class="icon-box d-flex justify-content-center align-items-center rounded">
                   <img src="assets\img\event\ph_chalkboard-teacher-light.svg" alt="">
                 </div>
                 <div class="event-text d-flex flex-column">
                   <div class="event-title fw-semibold">Teacher Day</div>
                   <div class="event-time text-muted small">09:30 - 11:30</div>
                 </div>
               </div>
               <div class="event-date fw-medium">
                 24 December 2024
               </div>
             </div>
           </div>
           <div class="px-3 mb-3">      
            <div class="card-container shadow-sm rounded-2  border d-flex flex-column position-relative">
               <div class="side-bar  position-absolute"></div>
               <div class="event-info  d-flex align-items-center position-absolute">
                 <div class="icon-box d-flex justify-content-center align-items-center rounded">
                   <img src="assets\img\event\openmoji_flag-niger.svg" alt="">
                 </div>
                 <div class="event-text d-flex flex-column">
                   <div class="event-title fw-semibold">Republic Day</div>
                   <div class="event-time text-muted small">09:30 - 11:30</div>
                 </div>
               </div>
               <div class="event-date fw-medium">
                 24 December 2024
               </div>
             </div>
           </div>
           <div class="px-3 mb-3">      
            <div class="card-container shadow-sm rounded-2  border d-flex flex-column position-relative">
               <div class="side-bar  position-absolute"></div>
               <div class="event-info  d-flex align-items-center position-absolute">
                 <div class="icon-box d-flex justify-content-center align-items-center rounded">
                   <img src="assets\img\event\icon-park-outline_sport.svg" alt="">
                 </div>
                 <div class="event-text d-flex flex-column">
                   <div class="event-title fw-semibold">Sports Day</div>
                   <div class="event-time text-muted small">09:30 - 11:30</div>
                 </div>
               </div>
               <div class="event-date fw-medium">
                 24 December 2024
               </div>
             </div>
           </div>
           <div class="px-3 mb-3">      
            <div class="card-container shadow-sm rounded-2  border d-flex flex-column position-relative">
               <div class="side-bar  position-absolute"></div>
               <div class="event-info  d-flex align-items-center position-absolute">
                 <div class="icon-box d-flex justify-content-center align-items-center rounded">
                   <img src="assets\img\event\material-symbols-light_wall-art-outline-rounded.svg" alt="">
                 </div>
                 <div class="event-text d-flex flex-column">
                   <div class="event-title fw-semibold">Art and Craft Exhibition</div>
                   <div class="event-time text-muted small">09:30 - 11:30</div>
                 </div>
               </div>
               <div class="event-date fw-medium">
                 24 December 2024
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header p-2 px-3">
          <h5 class="modal-title" id="exampleModalLabel">Add Query</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="query-form">
            <div class="form-group">
              <label for="category" class="modal-text mb-2">Select category</label>
              <select id="category" id="form-control" class="form-control mb-2">
                <option value="" disabled selected >Select</option>
                <option value="1" class="modal-text">Transport</option>
                <option value="2" class="modal-text">Studies Related</option>
                <option value="3" class="modal-text">Admin</option>
                <option value="4" class="modal-text">Fee</option>
                <option value="5" class="modal-text">Report Card</option>
                <option value="6" class="modal-text">Sick Leave</option>
                <option value="7" class="modal-text">General Feedback</option>
                <option value="8" class="modal-text">General Query</option>
              </select>
            </div>
            <div class="form-group">
              <label for="sub-category" class="modal-text mb-2">Select sub category  </label>
              <select id="sub-category" id="form-control" class="form-control mb-2" >
                <option value="" disabled selected >Select</option>
                <option value="1" class="modal-text">Sub Category 1</option>
                <option value="2" class="modal-text">Sub Category 2</option>
                <option value="3" class="modal-text">Sub Category 3</option>
                <option value="4" class="modal-text">Sub Category 4</option>
              </select>
            </div>
            <div  class="form-group mb-2">
              <label for="query" class="modal-text mb-2">Write your Query</label>
              <textarea id="query" class="form-control modal-text queryy" rows="4" placeholder="Type your query here..."></textarea>
            </div>
            <div class="form-group">
              <label for="file" class="modal-text mb-2"  >Attach File</label>
              
              <div class="form-group">
                <input type="file" id="file" class="form-control-file">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer p-1">
          <button type="button" class="btn" id="cancel" data-bs-dismiss="modal">Cancel</button>
          <button type="button" id="submit" class="btn">Submit</button>
        </div>
      </div>
    </div>
  </div>