.btntext{
  color: #2A295C;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid var(--Color-Light-Blue, #7E8ACC);
  background: #FFF;

}
.dropdown-toggle::after {
  display: none;
}
.event-card {
    padding: 15px 26px 14px 16px;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .event-content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .event-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  
  .event-icon {
    width: 60px;
    height: 60px;
    padding: 15px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blue-icon{
    border-radius: 4px;
background: rgba(40, 56, 151, 0.15);    
  }
  .green-icon{
    border-radius: 4px;
background: rgba(52, 168, 102, 0.15);
  }
  .orange-icon{
    border-radius: 4px;
background: rgba(239, 102, 26, 0.15);
  }
  .lblue-icon{
    border-radius: 4px;
background: rgba(25, 156, 218, 0.15);
  }
  .yellow-icon{
    border-radius: 4px;
background: rgba(252, 189, 76, 0.15);
  }
  .icon-container {
    width: 28px;
    height: 28px;
    position: relative;
  }
  
  .icon {
    position: absolute;
    width: 23.33px;
    height: 21.31px;
    top: 3.2px;
    left: 2.33px;
  }
  
  .icon-part1 {
    position: absolute;
    width: 0.98px;
    height: 0.78px;
    left: 11.75px;
    top: 23.81px;
    background: #283897;
  }
  
  .icon-part2 {
    position: absolute;
    width: 23.33px;
    height: 21.31px;
    background: #283897;
  }
  
  .event-date-divider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }
  
  .event-date {
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2a295c;
    font-size: 14px;
    font-weight: 600;
  }
  
  .divider {
    width: 60px;
    height: 0;
    transform: rotate(90deg);
    transform-origin: 0 0;
    margin: 0px 0px 50px 10px;
    border: 3px solid #283897;
  }
  
  .event-title {
    max-width: 350px;
    color: #2a295c;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
  }

  .notification-carrd {
  
    padding: 22px 25px 34px 18px;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 226px;
  }
  .noti-drop{
    color: #2A295C;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    word-wrap: break-word;
    line-height: 1.5;
  }
  
  .noti-drop-highlight {
    font-weight: bold;
    color: #2A295C;
  }
  .file-download {
    padding: 4px 9px;
    background: white;
    border-radius: 4px;
    border: 1px solid #283897;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
  }
  .file-name {
    color: #283897;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
  }
.pipe {
  width: 3px;
  min-height: 60px;
  border-radius: 5px;
}
  @media (max-width: 992px) {
   
    .file-download {
      flex-direction: row;
      gap: 8px;
    }
  }
  
  @media (max-width: 576px) {
    .header h5, .btntext {
      font-size: 16px;
    }
  
    .event-card, .notification-card {
      padding: 12px;
    }
  
    .event-date {
      font-size: 12px;
    }
  
    .event-title {
      font-size: 14px;
    }
  
    .file-name {
      font-size: 12px;
    }
  }
 /* Default image style */
img {
  transition: transform 0.3s ease; /* Smooth animation for rotation */
}

/* Add rotation when the 'rotate' class is applied */
.rotate {
  transform: rotate(180deg);
}

.dropdown-item{
  color: var(--2a295c, #2A295C);
font-size: 13px;
font-weight: 400;
}