<!-- <div class="sidebar bg-white border-end">
 
    <ul class="nav flex-column">
      <li>
        <div class="menu">
          <div class="menu-text">Menu</div>
          <div class="menu-divider"></div>
        </div>
        
      
      </li>
      <li class="nav-item" *ngFor="let item of menuArr">
        <a routerLink="{{item.link}}" routerLinkActive="router-link-active"  class="nav-link"><img src="assets/img/radix-icons_dashboard.svg" alt="Solar Card"
            class="w-18 h-18 me-2">{{item.menu_desc}}</a>
      </li>
    </ul>
  </div> -->

  <div class="sidebar ">
  <ul class="menu mt-4">
    <div class="meenu mb-2">
      <div class="menu-text">Menu</div>
      <div class="menu-divider"></div>
    </div>
    <li *ngFor="let item of menuArr" class="menu-item">
      <!-- Parent menu items -->
      <div
        class="menu-header"
        *ngIf="item.children"
        (click)="toggleMenu(item.id)"
        [attr.data-id]="item.id"
      >
        <!-- Icon for parent menu -->
        <img *ngIf="item.icon" [src]="item.icon" [alt]="item.menu_desc + ' Icon'" class="menu-icon me-2" />
        <span>{{ item.menu_desc }}</span>
        <span class="arrow">
          <img src="assets/img/sidebar/mingcute_down-line.svg" class="ms-2" alt="Expand/Collapse" />
        </span>
      </div>

      <!-- Child menu -->
      <ul *ngIf="item.children" class="child-menu"  [id]="'child-menu-' + item.id" style="display: none;">
        <li *ngFor="let child of item.children">
          <a [routerLink]="child.link">
            <!-- Icon for child menu -->
            <img *ngIf="child.icon" [src]="child.icon" [alt]="child.menu_desc + ' Icon'" class="child-icon me-1" />
            <span>{{ child.menu_desc }}</span>
          </a>
        </li>
      </ul>
    
      <!-- Parent menu item without children -->
      <a *ngIf="!item.children" [routerLink]="item.link">
        <!-- Icon for standalone menu -->
        <img *ngIf="item.icon" [src]="item.icon" [alt]="item.menu_desc + ' Icon'" class="menu-icon me-1" />
        <span>{{ item.menu_desc }}</span>
      </a>
    </li>
    
  </ul>
</div>
