<!-- <div class="sidebar bg-white border-end">
 
    <ul class="nav flex-column">
      <li>
        <div class="menu">
          <div class="menu-text">Menu</div>
          <div class="menu-divider"></div>
        </div>
        
      
      </li>
      <li class="nav-item" *ngFor="let item of menuArr">
        <a routerLink="{{item.link}}" routerLinkActive="router-link-active"  class="nav-link"><img src="assets/img/radix-icons_dashboard.svg" alt="Solar Card"
            class="w-18 h-18 me-2">{{item.menu_desc}}</a>
      </li>
    </ul>
  </div> -->

  <div class="sidebar ">
  <ul class="menu mt-4">
    <div class="meenu mb-2">
      <div class="menu-text">Menu</div>
      <div class="menu-divider"></div>
    </div>
    <li *ngFor="let item of menuArr" class="menu-item">
      <div
        class="menu-header"
        *ngIf="item.children"
        (click)="toggleMenu(item.id)"
        [attr.data-id]="item.id"
      >
        <!-- <img [src]="item.icon" [alt]="item.menu_desc + ' Icon'" /> -->
        <span>{{ item.menu_desc }}</span>
        <span class="arrow"> <img src="assets\img\sidebar\mingcute_down-line.svg" class="ms-2" alt=""> </span>
      </div>
      <a *ngIf="!item.children" [routerLink]="item.link">
        <img src="assets\img\sidebar\radix-icons_dashboard.svg" class="me-1" alt="">
        <!-- <img [src]="item.icon" [alt]="item.menu_desc + ' Icon'" /> -->
        <span>{{ item.menu_desc }}</span>
      </a>
      <ul *ngIf="item.children" class="child-menu" [id]="'child-menu-' + item.id" style="display: none;">
        <li *ngFor="let child of item.children">
          <a [routerLink]="child.link">
             <!-- <img [src]="child.icon" [alt]="child.menu_desc + ' Icon'" />  -->
            <span>{{ child.menu_desc }}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
