<div class="main-content p-3">
    <div class="header d-flex justify-content-between align-items-center">
      <h5 class=" text">Certificate</h5>
      <!-- <div class="search-container">
        <div class="search-content">
        <img src="assets\img\imp-con\magnifier.svg" alt="">
          <div class="search-text">Search</div>
        </div>
      </div> -->
    </div>  
    <div class="certificate mt-2" >
        <div class="certificate-card">
            <div class="certificate-info">
                <div class="certificate-details">
                    <p class="certificate-title mb-0">Sport Certificate</p>
                    <div class="certificate-meta">
                        <p class="certificate-id mb-0">ID: #7832464</p>
                        <p class="certificate-earned mb-0">Earned On: 13 Oct 2024</p>
                    </div>
                    <div class="certificate-line"> <img src="assets\img\certificate\Frame 1597883679.svg" alt=""></div>
                </div>
            </div>
            <img class="certificate-image" src="assets\img\certificate\85ef4939955b3b1903ddd7cfad60628c61ae00e4 1.png" alt="Certificate Image">
        </div>
      
        <div class="certificate-card">
            <div class="certificate-info">
                <div class="certificate-details">
                    <p class="certificate-title mb-0">Sport Certificate</p>
                    <div class="certificate-meta">
                        <p class="certificate-id mb-0">ID: #7832464</p>
                        <p class="certificate-earned mb-0">Earned On: 13 Oct 2024</p>
                    </div>
                    <div class="certificate-line"> <img src="assets\img\certificate\Frame 1597883679.svg" alt=""></div>
                </div>
            </div>
            <img class="certificate-image" src="assets\img\certificate\85ef4939955b3b1903ddd7cfad60628c61ae00e4 1.png" alt="Certificate Image">
        </div>
        <div class="certificate-card">
            <div class="certificate-info">
                <div class="certificate-details">
                    <p class="certificate-title mb-0">Sport Certificate</p>
                    <div class="certificate-meta">
                        <p class="certificate-id mb-0">ID: #7832464</p>
                        <p class="certificate-earned mb-0">Earned On: 13 Oct 2024</p>
                    </div>
                    <div class="certificate-line"> <img src="assets\img\certificate\Frame 1597883679.svg" alt=""></div>
                </div>
            </div>
            <img class="certificate-image" src="assets\img\certificate\85ef4939955b3b1903ddd7cfad60628c61ae00e4 1.png" alt="Certificate Image">
        </div>
        <div class="certificate-card">
            <div class="certificate-info">
                <div class="certificate-details">
                    <p class="certificate-title mb-0">Sport Certificate</p>
                    <div class="certificate-meta">
                        <p class="certificate-id mb-0">ID: #7832464</p>
                        <p class="certificate-earned mb-0">Earned On: 13 Oct 2024</p>
                    </div>
                    <div class="certificate-line"> <img src="assets\img\certificate\Frame 1597883679.svg" alt=""></div>
                </div>
            </div>
            <img class="certificate-image" src="assets\img\certificate\85ef4939955b3b1903ddd7cfad60628c61ae00e4 1.png" alt="Certificate Image">
        </div>
        <div class="certificate-card">
            <div class="certificate-info">
                <div class="certificate-details">
                    <p class="certificate-title mb-0">Sport Certificate</p>
                    <div class="certificate-meta">
                        <p class="certificate-id mb-0">ID: #7832464</p>
                        <p class="certificate-earned mb-0">Earned On: 13 Oct 2024</p>
                    </div>
                    <div class="certificate-line"> <img src="assets\img\certificate\Frame 1597883679.svg" alt=""></div>
                </div>
            </div>
            <img class="certificate-image" src="assets\img\certificate\85ef4939955b3b1903ddd7cfad60628c61ae00e4 1.png" alt="Certificate Image">
        </div>
        <div class="certificate-card">
            <div class="certificate-info">
                <div class="certificate-details">
                    <p class="certificate-title mb-0">Sport Certificate</p>
                    <div class="certificate-meta">
                        <p class="certificate-id mb-0">ID: #7832464</p>
                        <p class="certificate-earned mb-0">Earned On: 13 Oct 2024</p>
                    </div>
                    <div class="certificate-line"> <img src="assets\img\certificate\Frame 1597883679.svg" alt=""></div>
                </div>
            </div>
            <img class="certificate-image" src="assets\img\certificate\85ef4939955b3b1903ddd7cfad60628c61ae00e4 1.png" alt="Certificate Image">
        </div>
        
      </div> 
  </div>