<div class="main-content p-3">
    <div class="header d-flex justify-content-between align-items-center">
        <h5 class=" text">Certificate</h5>
    </div>
    <div class="row mt-3">
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-body p-0 pb-3">
                    <div class="card-container">
                        <div class="certificate-card py-4 d-flex justify-content-center">
                            <img class="certificate-image"
                                src="assets\img\certificate\85ef4939955b3b1903ddd7cfad60628c61ae00e4 1.png"
                                alt="Independence Day">
                        </div>
                        <p class="eventdays mt-2 px-3 mb-0">Sport Certificate</p>
                        <p class="eventdate px-3 mb-0">ID: #7832464</p>
                        <div class="d-flex align-items-center mt-2 px-3 justify-content-between text-primary"><span
                                class="earndate">Earned On: 13 Oct 2024</span> <img
                                src="assets\img\certificate\Frame 1597883679.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-body p-0 pb-3">
                    <div class="card-container">
                        <div class="certificate-card py-4 d-flex justify-content-center">
                            <img class="certificate-image"
                                src="assets\img\certificate\1731782209929 1.png"
                                alt="Independence Day">
                        </div>
                        <p class="eventdays mt-2 px-3 mb-0">Sport Certificate</p>
                        <p class="eventdate px-3 mb-0">ID: #7832464</p>
                        <div class="d-flex align-items-center mt-2 px-3 justify-content-between text-primary"><span
                                class="earndate">Earned On: 13 Oct 2024</span> <img
                                src="assets\img\certificate\Frame 1597883679.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-body p-0 pb-3">
                    <div class="card-container">
                        <div class="certificate-card py-4 d-flex justify-content-center">
                            <img class="certificate-image"
                                src="assets\img\certificate\85ef4939955b3b1903ddd7cfad60628c61ae00e4 1.png"
                                alt="Independence Day">
                        </div>
                        <p class="eventdays mt-2 px-3 mb-0">Sport Certificate</p>
                        <p class="eventdate px-3 mb-0">ID: #7832464</p>
                        <div class="d-flex align-items-center mt-2 px-3 justify-content-between text-primary"><span
                                class="earndate">Earned On: 13 Oct 2024</span> <img
                                src="assets\img\certificate\Frame 1597883679.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-body p-0 pb-3">
                    <div class="card-container">
                        <div class="certificate-card py-4 d-flex justify-content-center">
                            <img class="certificate-image"
                                src="assets\img\certificate\1731782209929 1.png"
                                alt="Independence Day">
                        </div>
                        <p class="eventdays mt-2 px-3 mb-0">Sport Certificate</p>
                        <p class="eventdate px-3 mb-0">ID: #7832464</p>
                        <div class="d-flex align-items-center mt-2 px-3 justify-content-between text-primary"><span
                                class="earndate">Earned On: 13 Oct 2024</span> <img
                                src="assets\img\certificate\Frame 1597883679.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-body p-0 pb-3">
                    <div class="card-container">
                        <div class="certificate-card py-4 d-flex justify-content-center">
                            <img class="certificate-image"
                                src="assets\img\certificate\85ef4939955b3b1903ddd7cfad60628c61ae00e4 1.png"
                                alt="Independence Day">
                        </div>
                        <p class="eventdays mt-2 px-3 mb-0">Sport Certificate</p>
                        <p class="eventdate px-3 mb-0">ID: #7832464</p>
                        <div class="d-flex align-items-center mt-2 px-3 justify-content-between text-primary"><span
                                class="earndate">Earned On: 13 Oct 2024</span> <img
                                src="assets\img\certificate\Frame 1597883679.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>