.header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .header img {
    height: 40px;
  }
  .year{
    color: rgba(42, 41, 92, 0.60);
text-align: center;
font-size: 14px;

font-weight: 500;
line-height: 24px; /* 171.429% */
  }


  .toggle-btn {
    font-size: 18px;
    cursor: pointer;
    color: #2a295c;

}