<div class="main-content p-3">
    <div class="header">
        <h5 class=" text">Holiday List</h5>
    </div>

    <div class="row mt-3">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr class="row-head">
                        <th>Sr. No.</th>
                        <th>Holiday</th>
                        <th>Date</th>
                        <th>Day</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Ram Navmi</td>
                        <td>17 Apr 2024</td>
                        <td>Monday</td>

                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Independence Day</td>
                        <td>15 Aug 2024</td>
                        <td>Wednesday</td>

                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Raksha Bandhan</td>
                        <td>10 Aug 2024</td>
                        <td>Saturday</td>

                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Janmashtami</td>
                        <td>26 Aug 2024</td>
                        <td>Friday</td>

                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Gandhi Jayanti</td>
                        <td>01 Oct 2024</td>
                        <td>Tuesday</td>


                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>Dusshera</td>
                        <td>12 Oct 2024</td>
                        <td>Monday</td>


                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>Maharishi Valmiki Jayanti</td>
                        <td>17 Oct 2024</td>
                        <td>Friday</td>

                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>Choti Diwali</td>
                        <td>31 Oct 2024</td>
                        <td>Tuesday</td>

                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>Diwali</td>
                        <td>01 Nov 2024</td>
                        <td>Wednesday</td>

                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>Goverdhan Pooja</td>
                        <td>02 Nov 2024</td>
                        <td>Friday</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>Bhai Dooj</td>
                        <td>03 Nov 2024</td>
                        <td>Friday</td>
                    </tr>
                    <tr>
                        <td>12.</td>
                        <td>Guru Nanak Jayanti</td>
                        <td>15 Nov 2024</td>
                        <td>Wednesday</td>
                    </tr>
                    <tr>
                        <td>13.</td>
                        <td> Christmas Day</td>
                        <td>25 Dec 2024</td>
                        <td>Friday</td>
                    </tr>
                    <tr>
                        <td>14.</td>
                        <td>Republic Day</td>
                        <td>26 Jan 2025</td>
                        <td>Thursday</td>
                    </tr>
                    <tr>
                        <td>15.</td>
                        <td>Maha Shivratri</td>
                        <td>26 Feb 2025</td>
                        <td>Monday</td>
                    </tr>
                    <tr>
                        <td>16.</td>
                        <td>Holi</td>
                        <td>13 Mar 2025</td>
                        <td>Friday</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>