<div class="main-content p-3">
    <div class="header">
      <h5 class=" text">Fee Structure</h5>
      <!-- <div class="search-container">
        <div class="search-content">
        <img src="assets\img\imp-con\magnifier.svg" alt="">
          <div class="search-text">Search</div>
        </div>
      </div> -->
    </div>
   
    <div class="row mt-3">
      <div class="col-12 col-lg-6">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr class="row-head">
                <th>INSTALLMENT</th>
                <th>AMOUNT</th>
                <th>FINE/EXCESS</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Apr-Jun</td>
                <td>14700</td>
                <td>0</td>
                <td>14700</td>
             

              </tr>
              <tr>
                <td>Jul-Aug</td>
                <td>1330</td>
                <td>250</td>
                <td>0</td>
               
              </tr>
              <tr>
                <td>Sep-Oct</td>
                <td>9800</td>
                <td>0</td>
                <td>1580</td>
               
              </tr>
              <tr>
                <td>Nov-Dec</td>
                <td>9800</td>
                <td>0</td>
                <td>9800</td>
               
              </tr>
              <tr>
                <td>Jan-Mar</td>
                <td>14700</td>
                <td>0</td>
                <td>0</td>
               
              </tr>
              <tr>
                <td>Total</td>
                <td>50330</td>
                <td>0</td>
                <td>35880</td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr class="row-head">
                <th>Receipt ID</th>
                <th>DATE</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>983485</td>
                <td>24 Jan 2024</td>
                <td>Due</td>
                <td class="text-decoration-underline action">Pay Now</td>
             

              </tr>
              <tr>
                <td>983485</td>
                <td>24 Jan 2024</td>
                <td>Complete</td>
                <td class="action">Print <img src="assets\img\fee\print.svg" alt=""> </td>
               
              </tr>
              <tr>
                <td>983485</td>
                <td>24 Jan 2024</td>
                <td>Due</td>
                <td class="text-decoration-underline action">Pay Now</td>
               
              </tr>
              <tr>
                <td>983485</td>
                <td>24 Jan 2024</td>
                <td>Complete</td>
                <td class="action">Print <img src="assets\img\fee\print.svg" alt=""> </td>
               
              </tr>
              <tr>
                <td>983485</td>
                <td>24 Jan 2024</td>
                <td>Due</td>
                <td class="text-decoration-underline action">Pay Now</td>
               
              </tr>
              <tr>
                <td>983485</td>
                <td>24 Jan 2024</td>
                <td>Complete</td>
                <td class="action">Print <img src="assets\img\fee\print.svg" alt=""> </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
      <div class="header ">
        <h5 class=" text">Miscellaneous Fee Payment</h5>
        <!-- <div class="search-container">
          <div class="search-content">
          <img src="assets\img\imp-con\magnifier.svg" alt="">
            <div class="search-text">Search</div>
          </div>
        </div> -->
      </div>
     
      <div class="row mt-3">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr class="row-head">
                  <th>FEE HEAD</th>
                  <th>AMOUNT</th>
                  <th>FINE/EXCESS</th>
                  <th>Quarter</th>
                  <th>DATE</th>
                  <th>STATUS</th>
                  <th>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Competitive Classes  - VI - X</td>
                  <td>14700</td>
                  <td>0</td>
                  <td>Purely voluntary</td>
                  <td>24 Jan 2024</td>
                  <td>Due</td>
                  <td class="text-decoration-underline action">Pay Now</td>
  
                </tr>
                <tr>
                  <td>Gauss Contest</td>
                  <td>1330</td>
                  <td>250</td>
                  <td>Gauss Contest</td>
                  <td>24 Jan 2024</td>
                  <td>Complete</td>
                  <td class="text-decoration-underline action">Pay Now</td>
                </tr>
                <tr>
                  <td>Spell bee competition (I - XII)</td>
                  <td>9800</td>
                  <td>0</td>
                  <td>Participation is purely voluntary</td>
                  <td>24 Jan 2024</td>
                  <td>Due</td>
                  <td class="action">Print <img src="assets\img\fee\print.svg" alt=""> </td>
                </tr>
                <tr>
                  <td>Newspaper subscription VI to VII</td>
                  <td>9800</td>
                  <td>0</td>
                  <td>Participation is purely voluntary</td>
                  <td>24 Jan 2024</td>
                  <td>Complete</td>
                  <td class="text-decoration-underline action">Pay Now</td>
                </tr>
                <tr>
                  <td>AMC 8</td>
                  <td>14700</td>
                  <td>0</td>
                  <td>Participation is purely voluntary</td>
                  <td>24 Jan 2024</td>
                  <td>Due</td>
                  <td class="action">Print <img src="assets\img\fee\print.svg" alt=""> </td>
                </tr>
                <tr>
                  <td>Pascal Contest ( 2024 - 25 )</td>
                  <td>50330</td>
                  <td>0</td>
                  <td>Fryer Contest</td>
                  <td>24 Jan 2024</td>
                  <td>Due</td>
                  <td class="text-decoration-underline action">Pay Now</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>
