
th {
    color: #2a295c;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    text-transform: capitalize;
  }
  .table > :not(:first-child) {
    border-top:none;
  }
  .row-head {
    background: #e7e9f7;
    
  }
  td {
    color: #2a295c;
    font-size: 14px;
    font-style: normal;
    background: #fff;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }
  
    table tr td,
    table tr th{
      border-left: none;
    }
    table tr td,
    table tr th{
      border-right: none; 
  }
  table tr td:first-child,
  table tr th:first-child {
    border-left: 1px solid #DEE2E6; /* Start border */
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 1px solid #DEE2E6; /* End border */
  }

  .action{
    color: #283897;
  }
  .form-check-input {
    border-radius: 0; /* Removes border radius */
  }
  .search-container {
    width: 90px;
    height: 33px;
    padding: 0 16px;
    background: white;
    border-radius: 4px;
    border: 1px solid #7E8ACC;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }
  
  .search-content {
    flex: 1 1 0;
    height: 18px;
    padding-left: 4px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: flex;
  }

  .search-text {
    flex: 1 1 0;
    color: #2a295c;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
  } 
  /* .con-img{
    width: 17px;
height: 17px;
  } */
  /* .search-container {
    width: 241px;
    height: 33px;
    padding: 0 16px;
    background: white;
    border-radius: 4px;
    border: 1px solid #7E8ACC;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }
  
  .search-content {
    flex: 1 1 0;
    height: 18px;
    padding-left: 4px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: flex;
  }

  .search-text {
    flex: 1 1 0;
    color: rgba(42, 41, 92, 0.60);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
  }
   */

