<div class="main-content p-3">
    <div class="header">
        <h3 class="mb-4 text">Profile</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-sm-3 mb-lg-0    ">
            <div class="card mb-3">
                <div class="card-body p-0 pb-3">
                    <div class="header mt-3 mb-2 px-3 border-bottom">
                        <h5 class="card-title mb-3">Student Details</h5>
                    </div>
                    <div class="container student-container">
                        <div class="row align-items-center">
                            <!-- Image in Column 2 -->
                            <div class="col-12 col-md-2 mb-2 d-flex justify-content-center">
                                <div class="student-photo-container position-relative">
                                    <img class="student-photo img-fluid rounded-circle" 
                                        src="assets/img/ViewProfile/istockphoto-1453308027-612x612.png" alt="Profile Picture" />
                                    <div class="student-badge position-absolute">
                                        <img src="assets/img/ViewProfile/akar-icons_edit.svg" alt="icon_edit">
                                    </div>
                                </div>
                            </div>
                    
                            <!-- Student Details in Columns 3 to 5 -->
                            <div class="col-12 col-md-10">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="student-row mb-2">
                                            <p class="student-label mb-0">Name</p>
                                            <p class="student-value mb-0">Aradhya Sharma</p>
                                        </div>
                                        <div class="student-row mb-2">
                                            <p class="student-label mb-0">Admission No</p>
                                            <p class="student-value mb-0">12345678</p>
                                        </div>
                                        <div class="student-row mb-2">
                                            <p class="student-label mb-0">Class</p>
                                            <p class="student-value mb-0">9th, A</p>
                                        </div>
                                        <div class="student-row mb-2">
                                            <p class="student-label mb-0">DOB</p>
                                            <p class="student-value mb-0">21-02-2010</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="student-row mb-2">
                                            <p class="student-label mb-0">Blood Group</p>
                                            <p class="student-value mb-0">B+</p>
                                        </div>
                                        <div class="student-row mb-2">
                                            <p class="student-label mb-0">Mobile No</p>
                                            <p class="student-value mb-0">9999999999</p>
                                        </div>
                                        <div class="student-row mb-2">
                                            <p class="student-label mb-0">Email Id</p>
                                            <p class="student-value mb-0">Aradhya.sharmamobilise.co.in</p>
                                        </div>
                                        <div class="student-row mb-2">
                                            <p class="student-label mb-0">Address</p>
                                            <p class="student-value mb-0">Secter 31 , Faridabad</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-sm-3 mb-lg-0    ">
            <div class="card mb-3">
                <div class="card-body p-0 pb-3">
                    <div class="header mt-3 mb-2 px-3 border-bottom">
                        <h5 class="card-title mb-3">Father Details</h5>
                    </div>
                    <div class="view-profile-card px-4">
                        <div class="view-profile-image-container">
                            <img src="assets\img\ViewProfile\34.png" alt="Profile Image" class="view-profile-image">
                            <div class="view-profile-status-badge">
                                <img src="assets\img\ViewProfile\akar-icons_edit.svg" alt="icon_edit">
                            </div>
                        </div>
                        <div class="view-profile-details">
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Name</p>
                                <p class="view-profile-value mb-0">Dheeraj Sharma</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Occupation</p>
                                <p class="view-profile-value mb-0">Advocate</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Education</p>
                                <p class="view-profile-value mb-0">LLM</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Mobile No</p>
                                <p class="view-profile-value mb-0">9999999999</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Email Id</p>
                                <p class="view-profile-value mb-0">Dheeraj.Sharmamobilise.co.in</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-body p-0 pb-3">
                    <div class="header mt-3  mb-2 px-3 border-bottom">
                        <h5 class="card-title mb-3">Mother Details</h5>
                    </div>
                    <div class="view-profile-card px-4">
                        <div class="view-profile-image-container">
                            <img src="assets\img\ViewProfile\istockphoto-1466995518-612x612 1.png" alt="Profile Image"
                                class="view-profile-image">
                            <div class="view-profile-status-badge">
                                <img src="assets\img\ViewProfile\akar-icons_edit.svg" alt="icon_edit">
                            </div>
                        </div>
                        <div class="view-profile-details">
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Name</p>
                                <p class="view-profile-value mb-0">Aradhna Sharma</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Occupation</p>
                                <p class="view-profile-value mb-0">Engineer</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Education</p>
                                <p class="view-profile-value mb-0">B.Tech</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Mobile No</p>
                                <p class="view-profile-value mb-0">9999999999</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Email Id</p>
                                <p class="view-profile-value mb-0">Aradhna.Sharmamobilise.co.in</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <div class="card-body p-0 pb-3">
                    <div class="header mt-3  mb-2 px-3 border-bottom">
                        <h5 class="card-title mb-3">Guardian Details</h5>
                    </div>
                    <div class="view-profile-card px-4">
                        <div class="view-profile-image-container">
                            <img src="assets\img\ViewProfile\mdi_user.svg" alt="Profile Image"
                                class="view-profile-image">
                            <div class="view-profile-status-badge">
                                <img src="assets\img\ViewProfile\akar-icons_edit.svg" alt="icon_edit">
                            </div>
                        </div>
                        <div class="view-profile-details">
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Name</p>
                                <p class="view-profile-value mb-0">NA</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Occupation</p>
                                <p class="view-profile-value mb-0">NA</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Education</p>
                                <p class="view-profile-value mb-0">NA</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Mobile No</p>
                                <p class="view-profile-value mb-0">NA</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Email Id</p>
                                <p class="view-profile-value mb-0">NA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <div class="card-body p-0 pb-3">
                    <div class="header mt-3  mb-2 px-3 border-bottom">
                        <h5 class="card-title mb-3">Driver Details</h5>
                    </div>
                    <div class="view-profile-card px-4">
                        <div class="view-profile-image-container">
                            <img src="assets\img\ViewProfile\mdi_user.svg" alt="Profile Image"
                                class="view-profile-image">
                            <div class="view-profile-status-badge">
                                <img src="assets\img\ViewProfile\akar-icons_edit.svg" alt="icon_edit">
                            </div>
                        </div>
                        <div class="view-profile-details">
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Name</p>
                                <p class="view-profile-value mb-0">Suresh</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Occupation</p>
                                <p class="view-profile-value mb-0">Driver</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Education</p>
                                <p class="view-profile-value mb-0">10th</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Mobile No</p>
                                <p class="view-profile-value mb-0">9878562356</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Email Id</p>
                                <p class="view-profile-value mb-0">NA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <div class="card-body p-0 pb-3">
                    <div class="header mt-3  mb-2 px-3 border-bottom">
                        <h5 class="card-title mb-3">Portal and mobile app credential</h5>
                    </div>
                    <div class="view-profile-card ">
                        <div class="view-profile-details">
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Adm / UserId</p>
                                <p class="view-profile-value mb-0">Suresh</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Password</p>
                                <p class="view-profile-value mb-0">Driver</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Mobile No</p>
                                <p class="view-profile-value mb-0">9878562356</p>
                            </div>
                            <div class="view-profile-detail-row">
                                <p class="view-profile-label mb-0">Email Id</p>
                                <p class="view-profile-value mb-0">NA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <div class="card-body p-0 pb-3">
                    <div class="header mt-3  mb-2 px-3 border-bottom">
                        <h5 class="card-title mb-3">Family Glimpse</h5>
                    </div>
                    <!-- <div class="view-profile-card ">
                        <div class="view-profile-details">
                            <div class="view-profile-detail-row">
                              <p class="view-profile-label mb-0">Adm / UserId</p>
                              <p class="view-profile-value mb-0">Suresh</p>
                            </div>
                            <div class="view-profile-detail-row">
                              <p class="view-profile-label mb-0">Password</p>
                              <p class="view-profile-value mb-0">Driver</p>
                            </div>
                            <div class="view-profile-detail-row">
                              <p class="view-profile-label mb-0">Mobile No</p>
                              <p class="view-profile-value mb-0">9878562356</p>
                            </div>
                            <div class="view-profile-detail-row">
                              <p class="view-profile-label mb-0">Email Id</p>
                              <p class="view-profile-value mb-0">NA</p>
                            </div>
                          </div>
                      </div> -->
                </div>
            </div>
        </div>
    </div>
</div>