body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  font-family: "Open Sans";

}

.main-content{
  background: #F5F6F9;;
  padding: 20px;
}


.profile-card {
  background: #2a295c;
  background-image: url(assets/img/pngwing\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile-card img {
  border-radius: 10px;
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.profile-card h5 {
  margin: 0;
  font-size: 1.2rem;
}
.profile-card p {
  margin: 5px 0 0;
  font-size: 0.9rem;
}
.quick-links .btn {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.card-title {
  font-weight: bold;
  margin-bottom: 15px;
}
.list-group-item strong {
  display: block;
  color: #495057;
  font-weight: bold;
}
.list-group-item {
  padding: 10px 15px;
}

.text {
  color: var(--Color-Secondory, #2a295c);
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.card-title {
  color: var(--Color-Secondory, #2a295c);
  font-size: 16px;
  font-weight: 600;
}

#quickbuttons {
  border-radius: 4px;
  border: 1px solid var(--Color-Lighter-Blue, #e7e9f7);
  color: var(--2a295c, #2a295c);
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
  padding: 14px 21px 13px 12px;
  border-bottom: 2px solid #199cda;
}
#quickbuttons1{
  border-radius: 4px;
  border: 1px solid var(--Color-Lighter-Blue, #e7e9f7);
  color: var(--2a295c, #2a295c);
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
  padding: 14px 21px 13px 12px;
  border-bottom: 2px solid #34A866
}
#quickbuttons2{
  border-radius: 4px;
  border: 1px solid var(--Color-Lighter-Blue, #e7e9f7);
  color: var(--2a295c, #2a295c);
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
  padding: 14px 21px 13px 12px;
  border-bottom: 2px solid #FCBD4C;
}
#quickbuttons3{
  border-radius: 4px;
  border: 1px solid var(--Color-Lighter-Blue, #e7e9f7);
  color: var(--2a295c, #2a295c);
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
  padding: 14px 21px 13px 12px;
  border-bottom: 2px solid #ef661a;
}
.quick1 {
  margin: -3px 10px 0px 0px;
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 4px;
  background: var(--Color-Sky-Blue, #199cda);
}
.quick2 {
  margin: -3px 10px 0px 0px;
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 4px;
  background: var(--Color-Green, #34a866);
}

.quick3 {
  margin: -3px 10px 0px 0px;
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 4px;
  background: var(--Color-Yellow, #fcbd4c);
}
.quick4 {
  margin: -3px 10px 0px 0px;
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 4px;
  background: var(--Color-Orange, #ef661a);
}

.querytext{
  color: var(--2a295c, #2A295C);
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 171.429% */
text-decoration: none;
}

/* Colors */
.blue {
  background: #283897;
  color: #fff;
}
.green {
  background: #34A866;
}
.orange {
  background: #EF671B;
}
.light-blue {
  background: #199CDA;
}
.yellow {
  background: #FCBD4C;
}