<div class="main-content p-3">
    <div class="header d-flex justify-content-between align-items-center">
      <h5 class=" text">Important Contact</h5>
      <div class="search-container">
        <div class="search-content">
        <img src="assets\img\imp-con\magnifier.svg" alt="">
          <div class="search-text">Search</div>
        </div>
      </div>
    </div>
   
    <div class="row mt-3">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr class="row-head">
                <th>designation</th>
                <th>Email</th>
                <th>Phone Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="assets\img\imp-con\35af6a41332353.57a1ce913e889.png" alt=""> Principal</td>
                <td>principalschoolgmail.com</td>
                <td><img src="assets\img\imp-con\ic_baseline-phone.svg" class="con-img me-2" alt="">9999568426</td>
               
              </tr>
              <tr>
                <td><img src="assets\img\imp-con\Frame 1597883746.png" alt="">  Vice Principal</td>
                <td>voice.principalschool.com</td>
                <td><img src="assets\img\imp-con\ic_baseline-phone.svg" class="con-img me-2" alt="">9999568426</td>
               
              </tr>
              <tr>
                <td><img src="assets\img\imp-con\Frame 1597883746 (2).png" alt="">  Administrative Officer</td>
                <td>adminschool.com</td>
                <td><img src="assets\img\imp-con\ic_baseline-phone.svg" class="con-img me-2" alt="">9999568426</td>
               
              </tr>
              <tr>
                <td><img src="assets\img\imp-con\Frame 1597883746 (1).png" alt=""> Head of Department</td>
                <td>head.of.departmentschool.com</td>
                <td><img src="assets\img\imp-con\ic_baseline-phone.svg" class="con-img me-2" alt="">9999568426</td>
               
              </tr>
              <tr>
                <td><img src="assets\img\imp-con\35af6a41332353.57a1ce913e889.png" alt="">  Class Teacher</td>
                <td>class.teacherschool.com</td>
                <td><img src="assets\img\imp-con\ic_baseline-phone.svg" class="con-img me-2" alt="">9999568426</td>
               
              </tr>
              <tr>
                <td><img src="assets\img\imp-con\Frame 1597883746.png" alt="">  Library</td>
                <td>libraryschool.com</td>
                <td><img src="assets\img\imp-con\ic_baseline-phone.svg" class="con-img me-2" alt="">9999568426</td>
               
              </tr>
              <tr>
                <td><img src="assets\img\imp-con\Frame 1597883746 (2).png" alt=""> Sports Department</td>
                <td>sports.departmentschool.com</td>
                <td><img src="assets\img\imp-con\ic_baseline-phone.svg" class="con-img me-2" alt="">9999568426</td>
               
              </tr>
              <tr>
                <td><img src="assets\img\imp-con\Frame 1597883746 (1).png" alt="">  School Nurse / Medical Room</td>
                <td>medical.roomschool.com</td>
                <td><img src="assets\img\imp-con\ic_baseline-phone.svg" class="con-img me-2" alt="">9999568426</td>
               
              </tr>
              <tr>
                <td><img src="assets\img\imp-con\35af6a41332353.57a1ce913e889.png" alt=""> Transport Incharge</td>
                <td>transport.inchargeschool.com</td>
                <td><img src="assets\img\imp-con\ic_baseline-phone.svg" class="con-img me-2" alt="">9999568426</td>
               
              </tr>
              <tr>
                <td><img src="assets\img\imp-con\Frame 1597883746.png" alt="">  Emergency Contact</td>
                <td>emergency.contactschool.com</td>
                <td><img src="assets\img\imp-con\ic_baseline-phone.svg" class="con-img me-2" alt="">9999568426</td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
   
  </div>